/* Hover Effect for Offer Banner Images */
.offer-banner img {
  transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
}

.offer-banner img:hover {
  transform: scale(1.1);
  opacity: 0.8;
  box-shadow: 0 4px 1000px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}

/* Button Animation */
.btn-primary {
  display: inline-block;
  padding: 2rem 3rem;
  font-size: 2rem;
  font-weight: bold;
  color: tomato;
  background-color: #DDDDDD;
  border: 3px solid #fff;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 1000px rgba(0, 0, 0, 0.8);
}

.btn-primary:hover {
  box-shadow: 0 4px 300px rgba(192, 0, 128, 0.9);
  background: none;
  border: 3px solid lightsalmon;
  color: lightslategray;
  transition: all 1s ease;
}
